
# Temporary holds: Lecture
notes/0[2-9]*
notes/1*

# Temporary holds: Assignments
problem-sets/00[4-9]

# Notes cache
notes/*/slides_cache/*

# Non-review test files
midterm/exam*
final/exam*

# Problem sets: All
problem-sets/*

# Misc files
*.DS_Store
*.here
*.Rproj
