
# Temporary holds: Lecture
notes/0[2-9]*
notes/1*

# Temporary holds: Assignments
problem-sets/000/000-questions.qmd
problem-sets/000/000-solutions.html
problem-sets/000/make-data.r

# Notes cache
notes/*/slides_cache/*

# Non-review test files
midterm/exam*
final/exam*

# Misc files
*.DS_Store
*.here
*.Rproj
