/*-- scss:defaults --*/


.ans {
  font-weight: 600;
  color: #e64173 !important;
}


.answer {
  background: #fafafa;
  padding: 1em;
  margin: .3em;
  border-radius: 7px;
  border-style: none;
  border-color: #fafafa;
}


.mono {
  font-family: monospace;
}
